*/*
!.gitignore
!LICENSE
!README.md
!action.env
!action.sh
!docker-compose.yaml.example
!web/dockerfile.example
!web/nginx.conf.example
!web/player.html.example
!web/stat.xsl
!web/restricted.pass
!web/admin.pass
!rtmp/dockerfile.example
!rtmp/nginx.conf.example
!rtmp/stat.xsl
!rtmp/restricted.pass
!rtmp/admin.pass
!haproxy/dockerfile
!haproxy/haproxy.cfg
