version: '3'

services:
  web:
    container_name: web
    build:
      context: ./web
      dockerfile: dockerfile
    image: webcast-web:latest
    expose:
      - 80
    networks:
      - net
    volumes:
      - data-volume:$X_STORAGE_MOUNT

  rtmp:
    container_name: rtmp
    build:
      context: ./rtmp
      dockerfile: dockerfile
    image: webcast-rtmp:latest
    expose:
      - 1935
      - 8081
    networks:
      - net
    volumes:
      - data-volume:$X_STORAGE_MOUNT

  loadbalancer:
    container_name: loadbalancer
    build:
      context: ./haproxy
      dockerfile: dockerfile
    image: webcast-haproxy:latest
    depends_on:
      - web
      - rtmp
    environment:
      - BALANCE=leastconn
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 80:80
      - 1935:1935
      - 1936:1936
      - 8081:8081
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  data-volume:
