<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelementplayer.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Video</h1>
    <div class="media-container">
      <video id="hls-video-player" width="920" height="940">
        <source type="application/x-mpegURL" src="http://${X_DOCKER_IP}:8080/hls/test/index.m3u8" />
      </video>
    </div>

    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelement-and-player.min.js"></script>
    <script>
      $('#hls-video-player').mediaelementplayer(/* Options */);
      //$('#audio-player').mediaelementplayer(/* Options */);
    </script>
  </body>
</html>
