rtmp {
    server {
        listen 1935;

        chunk_size 4096;

        # TV mode: one publisher, many subscribers
        application stream {

            # enable live streaming
            live on;

            # Only publish to local network
            #allow publish $X_DOCKER_IP;
            #deny publish all;
            allow publish all;
            allow play all;

            # Record
            #record on;

            # append current timestamp to each flv
            #record_unique on;

            #record_notify on;
            #record_path /tmp;
            #record all;
            #record_unique on;

            # HLS
            hls on;
            hls_path /tmp/hls;
            hls_nested on;
        }
    }
}

# https://stackoverflow.com/a/56631458
events {}

# HTTP can be used for accessing RTMP stats
http {
    server {
        listen      8080;

        add_header Cache-Control no-cache;
        add_header Access-Control-Allow-Origin * always;

        # This URL provides RTMP statistics in XML
        location /stat {
            #stub_status;

            # Use this stylesheet to view XML as web page
            # in browser
            #rtmp_stat_stylesheet stat.xsl;
        }

        location /hls {
            types {
                application/vnd.apple.mpegurl m3u8;
            }
            root /tmp;
            #alias tmp/hls/;
        }
    }
}
