
user www-data www-data;

# https://stackoverflow.com/a/56631458
events {
    worker_connections  1024; # usually 1024 is a good default
}

rtmp {
    server {
        listen 1935;

        chunk_size 4096;

        # TV mode: one publisher, many subscribers
        application stream {

            # enable live streaming
            live on;

            # Only publish to local network
            #allow publish $X_DOCKER_IP;
            #deny publish all;
            #deny play all;

            # Record
            recorder video {
                record all;
                record_path /tmp/stream/rec/video;
                record_unique on;
                record_suffix -%d-%b-%y-%T.flv;
                exec_record_done ffmpeg -i $path -f mp4 /var/www/video/$basename.mp4;
            }

            recorder audio {
                record audio;
                record_path /tmp/stream/rec/audio;
                record_unique on;
                record_suffix -%d-%b-%y-%T.flv;
                exec_record_done ffmpeg -i $path -q:a 5 /var/www/audio/$basename.mp3;
            }

            # DASH
            dash on;
            dash_path /tmp/stream/dash;
            dash_nested on;
            dash_fragment 15s;

            # HLS
            exec ffmpeg -i rtmp://localhost/stream/$name
                -c:a aac -b:a 32k  -c:v libx264 -b:v 128K -f flv rtmp://localhost/hls/$name_low
                -c:a aac -b:a 64k  -c:v libx264 -b:v 256k -f flv rtmp://localhost/hls/$name_mid
                -c:a aac -b:a 128k -c:v libx264 -b:v 512K -f flv rtmp://localhost/hls/$name_hi;
        }

        application hls {
            live on;

            hls on;
            hls_path /tmp/stream/hls;
            hls_nested on;
            hls_fragment 10s;
            hls_playlist_length 30s;

            hls_variant _low BANDWIDTH=160000;
            hls_variant _mid BANDWIDTH=320000;
            hls_variant _hi  BANDWIDTH=640000;
        }
    }
}

# HTTP can be used for accessing RTMP stats
http {
    server {
        listen 8080;

        add_header Cache-Control no-cache;
        add_header Access-Control-Allow-Origin * always;

        location /stream {
            types {
                application/x-mpegURL m3u8;
                application/dash+xml mpd;
                video/MP2T ts;
                video/mp4 mp4;
            }
            alias /tmp/stream/;
        }

        location /video {
            alias /var/www/video;
            autoindex on;
        }

        location /audio {
            alias /var/www/audio;
            autoindex on;
        }

        location /stat {
            root /usr/local/nginx/html/;
            rtmp_stat all;
            rtmp_stat_stylesheet stat.xsl;
        }

        location /stat.xsl {
            root /usr/local/nginx/html/;
        }
    }

    server {
        listen 80;

        add_header Cache-Control no-cache;
        add_header Access-Control-Allow-Origin * always;

        root /var/www;

        location / {
            index player.html;
        }
    }
}
