<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelementplayer.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Video</h1>
    <div class="media-container">
      <video id="video-hls" width="1000px" height="800px">
        <source type="application/x-mpegURL" src="http://${X_DOCKER_IP}:8080/stream/hls/test/index.m3u8" />
      </video>
    </div>
    <div class="media-container">
      <video data-dashjs-player controls width="1000px" height="800px">
        <source type="application/dash+xml" src="http://${X_DOCKER_IP}:8080/stream/dash/test/index.mpd" />
      </video>
    </div>

    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelement-and-player.min.js"></script>
    <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <script>
      $('#video-hls').mediaelementplayer(/* Options */);
    </script>
  </body>
</html>
