
daemon off;
user stream www-data;

# https://stackoverflow.com/a/56631458
events {
    worker_connections  1024; # usually 1024 is a good default
}

rtmp {
    server {
        listen 1935;

        chunk_size 4096;

        access_log /var/log/nginx/access.log;

        application stream {

            # enable live streaming
            live on;

            # Only publish to local network
            allow publish all;
            deny publish all;

            # Record
            recorder video {
                record all;
                record_path /home/stream/media/rec_video;
                record_unique on;
                record_suffix -%d-%b-%y-%T.flv;
                exec_record_done ffmpeg -i $path -f mp4 /home/stream/media/video/$basename.mp4;
            }

            recorder audio {
                record audio;
                record_path /home/stream/media/rec_audio;
                record_unique on;
                record_suffix -%d-%b-%y-%T.flv;
                exec_record_done ffmpeg -i $path -q:a 5 /home/stream/media/audio/$basename.mp3;
            }

            # DASH
            dash on;
            dash_path /home/stream/media/stream/dash;
            dash_nested on;
            dash_fragment 15s;

            # HLS
            exec ffmpeg -i rtmp://127.0.0.1/stream/$name
                -c:a aac -b:a 32k  -c:v libx264 -b:v 128K -f flv rtmp://127.0.0.1/hls/$name_low
                -c:a aac -b:a 64k  -c:v libx264 -b:v 256k -f flv rtmp://127.0.0.1/hls/$name_mid
                -c:a aac -b:a 128k -c:v libx264 -b:v 512K -f flv rtmp://127.0.0.1/hls/$name_hi
                -c:a aac -b:a 16k -vn -f flv rtmp://127.0.0.1/hls/$name_audio;
        }

        application hls {
            live on;

            allow publish all;
            deny play all;

            hls on;
            hls_path /home/stream/media/stream/hls;
            hls_nested on;
            hls_fragment 10s;
            hls_playlist_length 30s;

            hls_variant _audio BANDWIDTH=80000;
            hls_variant _low BANDWIDTH=160000;
            hls_variant _mid BANDWIDTH=320000;
            hls_variant _hi  BANDWIDTH=640000;
        }
    }
}

http {
    server {

        listen 8080;
        server_name nginx-rtmp-stats;

        add_header Cache-Control no-cache;
        add_header Access-Control-Allow-Origin * always;

        # All of these ways to get the stats may not be needed.
        location /rtmp-stats {
            stub_status;
        }

        location /rtmp-stats-raw {
            root /usr/local/nginx/html/;
            rtmp_stat all;
        }

        location /rtmp-stats-xsl {
            root /usr/local/nginx/html/;
            rtmp_stat all;
            rtmp_stat_stylesheet stat.xsl;
        }

        location /stat.xsl {
            root /usr/local/nginx/html/;
        }
    }
}
