
daemon off;
user www-data;

# https://stackoverflow.com/a/56631458
events {
    worker_connections  1024; # usually 1024 is a good default
}

# HTTP can be used for accessing RTMP stats
http {

    log_format streaming '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $connection';

    server {
        listen 80;
        server_name nginx-web;

        add_header Cache-Control no-cache;
        add_header Access-Control-Allow-Origin * always;

        location / {
            root /var/www;
            index player.html;
        }

        location /stream {
            access_log /tmp/stream.log streaming;
            access_log /var/log/nginx/access.log streaming;

            types {
                application/x-mpegURL m3u8;
                application/dash+xml mpd;
                video/MP2T ts;
                video/mp4 mp4;
                audio/aac aac;
            }
            alias /home/stream/media/;
        }

        location /video {
            #auth_basic “Restricted”;
            #auth_basic_user_file /etc/restricted.pass;
            alias /home/stream/media/video;
            autoindex on;
        }

        location /audio {
            #auth_basic “Restricted”;
            #auth_basic_user_file /etc/restricted.pass;
            alias /home/stream/media/audio;
            autoindex on;
        }
    }
}
