<html>
  <head>
    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
  </head>

  <body>
      <video class="video-js" controls preload="none" width="640" height="264" data-setup="{}">
          <source src="http://${X_DOCKER_IP}/stream/hls/test.m3u8" type="application/vnd.apple.mpegurl" />
          <source src="http://${X_DOCKER_IP}/stream/dash/test/index.mpd" type="application/dash+xml" />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>

      <br/>
      <audio class="video-js" controls preload="none" data-setup="{}">
          <source src="http://${X_DOCKER_IP}/stream/hls/test_audio/index.m3u8" type="application/vnd.apple.mpegurl" />
          <p class="vjs-no-js">
            To view this audio please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
      </audio>

    <script src="https://vjs.zencdn.net/7.5.5/video.js"></script>
  </body>
